<html lang="de" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="wimip" class="row justify-content-center">
	<table cellpadding="0" cellspacing="0" style="border: 1px solid #1860a4; background: #1860a4, width:130px;">
		<tr>
			<td><img src="https://www.meine-aktuelle-ip.de/images/header_bl.jpg" style="padding: 0; margin: 0;" width="128" height="26" border="0"
				title="Meine IP" alt="Meine IP" /></td>
		</tr>
		<tr>
			<td style="vertical-align: text-bottom; text-align: center; font-family: arial; font-size: 11px;"><iframe width="128" height="123"
					scrolling="no" frameborder="0" src="https://www.meine-aktuelle-ip.de/gadget/v1.html"></iframe></td>
		</tr>
		<tr>
			<td style="background-image: url(https://www.meine-aktuelle-ip.de/images/footer.jpg); width: 128px; height: 16px; text-align: center;"><a
				href="https://www.meine-aktuelle-ip.de/" style="color: #FFF; font-family: Arial; font-size: 11px;" target="_blank">Meine IP</a></td>
		</tr>
	</table>
</div>