<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
	crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
	integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	crossorigin="anonymous"></script>

<meta charset="UTF-8">
<title>PAMP AGB</title>
</head>
<body>

	<div th:replace="fragments/header :: header"></div>

	<div class="container">
		<div class="jumbotron">
				<h1 class="text-center">Allgemeine Geschäftsbedingungen</h1>
			<div class="article-text">
				<p class="text-left">Diese Allgemeinen Geschäftsbedingungen (im Folgenden: „PAMP-AGB”) regeln die
					Nutzung der deutschen Website (PAMP).</p>
				<p>Der Vertragspartner eines Nutzers ist bei einem Sitz des Unternehmens oder Wohnsitz der
					natürlichen Person</p>
				<p>Der jeweilige Vertragspartner wird nachfolgend als „PAMP” bezeichnet.
					Diese PAMP-AGB treten für alle angemeldeten Nutzer ab dem 1. Februar 2019 in Kraft.
					Durch Registrierung stimmen sie den PAMP-AGB zu.</p>
				<h4>Widerrufsbelehrung</h4>
				<p>Wenn Sie PAMP als Verbraucher nutzen, gelten für Sie folgende Bestimmungen:</p>
				<b>Widerrufsrecht</b>
				<p>Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von Gründen diesen Vertrag zu
					widerrufen.</p>
				<P>Die Widerrufsfrist beträgt vierzehn Tage ab dem Tag des Vertragsabschlusses.</P>
				<p>Um Ihr Widerrufsrecht auszuüben, müssen Sie uns per Post, telefonisch oder per E-Mail
					mittels einer eindeutigen Erklärung (z. B. ein mit der Post versandter Brief, Telefax oder E-
					Mail) über Ihren Entschluss, diesen Vertrag zu widerrufen, informieren.</p>
				<p>Zur Wahrung der Widerrufsfrist reicht es aus, dass Sie die Mitteilung über die Ausübung des
					Widerrufsrechts vor Ablauf der Widerrufsfrist absenden.</p>
				<b>Folgen des Widerrufs</b>
				<p>Wenn Sie diesen Vertrag widerrufen, haben wir Ihnen alle Zahlungen, die wir von Ihnen
					erhalten haben, einschließlich der Lieferkosten (mit Ausnahme der zusätzlichen Kosten, die
					sich daraus ergeben, dass Sie eine andere Art der Lieferung als die von uns angebotene,
					günstigste Standardlieferung gewählt haben), unverzüglich und spätestens binnen vierzehn
					Tagen ab dem Tag zurückzuzahlen, an dem die Mitteilung über Ihren Widerruf dieses
					Vertrags bei uns eingegangen ist. Für diese Rückzahlung verwenden wir dasselbe
					Zahlungsmittel, das Sie bei der ursprünglichen Transaktion eingesetzt haben, es sei denn, mit
					Ihnen wurde ausdrücklich etwas anderes vereinbart; in keinem Fall werden Ihnen wegen
					dieser Rückzahlung Entgelte berechnet.</p>
				<p>Haben Sie verlangt, dass die Dienstleistungen während der Widerrufsfrist beginnen sollen, so
					haben Sie uns einen angemessenen Betrag zu zahlen, der dem Anteil der bis zu dem
					Zeitpunkt, zu dem Sie uns von der Ausübung des Widerrufsrechts hinsichtlich dieses Vertrags
					unterrichten, bereits erbrachten Dienstleistungen im Vergleich zum Gesamtumfang der im
					Vertrag vorgesehenen Dienstleistungen entspricht.</p>
				<b>Muster-Widerrufsformular</b>
				<p>Wenn Sie den Vertrag widerrufen wollen, dann füllen Sie bitte dieses Formular aus und
					senden Sie es zurück.</p>
				<ul>
					<li>An den PAMP Customer Service, Innstraße 43 94032 Passau, Deutschland:</li>
					<li>Hiermit widerrufe(n) ich/wir (*) den von mir/uns (*) abgeschlossenen Vertrag über die
						Erbringung der folgenden Dienstleistung (*)</li>
					<li>Bestellt am (*)</li>
					<li>Name des/der Verbraucher(s)</li>
					<li>Anschrift des/der Verbraucher(s)</li>
					<li>Unterschrift des/der Verbraucher(s) (nur bei Mitteilung auf Papier)</li>
					<li>Datum</li>
				</ul>
				<p>(*) Unzutreffendes streichen.</p>
				<h4>Einleitung</h4>
				<p>Diese PAMP-AGB treten für alle angemeldeten Nutzer ab dem 1. Februar 2019 in Kraft.
					Durch Registrierung stimmen sie den PAMP-AGB zu.</p>
				<b>Hier finden Sie sämtliche Paragraphen unserer AGB:</b>
				<p>§1 Leistungsbeschreibung</p>
				<p>§2 Anmeldung und PAMP-Konto</p>
				<p>§3 Nutzung der PAMP-Dienste, verbotene Artikel und
					Inhalte</p>
				<P>§4 Sanktionen, Sperrung und Kündigung</P>
				<P>§5 Haftungsbeschränkung</P>
				<P>§6 Freistellung</P>
				<P>§7 Schlussbestimmungen</P>
				<h4>§1 Leistungsbeschreibung</h4>
				<ol>
					<li>Mittels der PAMP-Dienste bietet PAMP einen Marktplatz an, auf dem von natürlichen
						und juristischen Personen und Personengesellschaften („Nutzer”) in
						Verkaufsangeboten („Angebot”), Waren und Dienstleistungen aller Art („Artikel”)
						angeboten (in dieser Eigenschaft „Verkäufer”) und erworben (in dieser Eigenschaft
						„Käufer”) und sonstige Inhalte veröffentlicht werden können, sofern deren Angebot,
						Erwerb oder Veröffentlichung nicht gegen gesetzliche Bestimmungen verstößt. PAMP
						bietet selbst keine Artikel an und wird nicht Vertragspartner der ausschließlich
						zwischen den Nutzern dieses Marktplatzes geschlossenen Verträge.</li>
					<li>PAMP hat das Recht, Angebote und sonstige Inhalte von Nutzern technisch so zu
						bearbeiten, dass diese auch auf mobilen Endgeräten oder Softwareapplikationen von
						PAMP dargestellt werden können.</li>
					<li>Trotz verschiedenartiger Sicherheitsvorkehrungen ist es nicht auszuschließen, dass für
						ein PAMP-Konto falsche Kontaktdaten hinterlegt wurden bzw. diese sich
						zwischenzeitlich geändert haben. Mittels der PAMP-Dienste veröffentlichte Angebote
						und sonstige Inhalte von Nutzern stellen nicht die Meinung von PAMP dar und
						werden grundsätzlich nicht von PAMP auf ihre Rechtmäßigkeit, Richtigkeit und
						Vollständigkeit überprüft.</li>
					<li>Mittels der PAMP-Dienste veröffentlichte Angebote und sonstige Inhalte von Nutzern
						stellen nicht die Meinung von PAMP dar und werden grundsätzlich nicht von PAMP
						auf ihre Rechtmäßigkeit, Richtigkeit und Vollständigkeit überprüft.</li>
					<li>PAMP behält sich das Recht vor, innerhalb seiner Grundsätze die Ordnung auf seinem
						Marktplatz zu ändern, soweit dies den Nutzern unter Berücksichtigung der
						berechtigten Interessen von PAMP zumutbar ist.</li>
					<li>Der Anspruch von Nutzern auf Nutzung der PAMP-Dienste besteht nur im Rahmen
						des aktuellen Stands der Technik. PAMP schränkt seine Leistungen zeitweilig ein,
						wenn dies im Hinblick auf Kapazitätsgrenzen, die Sicherheit oder Integrität der Server
						oder zur Durchführung technischer Maßnahmen erforderlich ist, und dies der
						ordnungsgemäßen oder verbesserten Erbringung der Leistungen dient
						(Wartungsarbeiten). PAMP berücksichtigt in diesen Fällen die berechtigten Interessen
						der Nutzer, wie z. B. durch Vorabinformationen. § 8 dieser eBay-AGB
						(Haftungsbeschränkung) bleibt von der vorstehenden Regelung unberührt.</li>
					<li>Sofern ein unvorhergesehener Systemausfall die Nutzung der eBay-Dienste behindert,
						werden die Nutzer in geeigneter Form informiert</li>
				</ol>
				<h4>§2 Anmeldung und PAMP-Konto</h4>
				<ol>
					<li>Die Nutzung der PAMP-Dienste als Verkäufer setzt die Anmeldung als Nutzer voraus.
						Die Anmeldung erfolgt durch Eröffnung eines PAMP-Kontos unter Zustimmung zu diesen
						PAMP-AGB und der PAMP-Datenschutzerklärung. Mit der Anmeldung kommt zwischen PAMP und
						dem Nutzer ein Vertrag über die Nutzung der PAMP-Dienste (im Folgenden: „Nutzungsvertrag”)
						zustande. Ein Anspruch auf Abschluss eines Nutzungsvertrags besteht nicht.</li>
					<li>Die Anmeldung ist nur juristischen Personen, Personengesellschaften und unbeschränkt
						geschäftsfähigen natürlichen Personen erlaubt</li>
					<li>Die von PAMP bei der Anmeldung abgefragten Daten sind vollständig und korrekt anzugeben</li>
					<li>Die von PAMP bei der Anmeldung abgefragten Daten sind vollständig und korrekt
						anzugeben.</li>
					<li>Nutzer müssen ihr Passwort geheim halten und den Zugang zu ihrem PAMP-Konto
						sorgfältig sichern. Nutzer sind verpflichtet, PAMP umgehend zu informieren, wenn es
						Anhaltspunkte dafür gibt, dass ein PAMP-Konto von Dritten missbraucht wurde.</li>
					<li>Ein PAMP-Konto ist nicht übertragbar.</li>
					<li>PAMP behält sich das Recht vor, PAMP-Konten von nicht vollständig durchgeführten
						Anmeldungen nach einer angemessenen Zeit zu löschen. Gleiches gilt für PAMP-
						Konten, die über einen längeren Zeitraum nicht genutzt wurden. Vor der Löschung
						eines solchen Kontos informiert PAMP den Nutzer rechtzeitig. Wird das Konto
						anschließend wieder genutzt, erfolgt keine Löschung.</li>
				</ol>
				<h4>§3 Nutzung der PAMP-Dienste, verbotene Artikel und
					Inhalte</h4>
				<ol>
					<li>Es liegt in der Verantwortung des Nutzers sicherzustellen, dass seine Angebote und
						Inhalte (insbesondere Bilder und sonstige Informationen) rechtmäßig sind und keine
						Rechte Dritter verletzen.</li>
					<li>Es ist verboten, Artikel und Dienstleistungen, deren Angebot, Verkauf oder Erwerb
						gegen gesetzliche Vorschriften, die PAMP-Grundsätze, Rechte Dritter oder gegen die
						guten Sitten verstoßen, bei PAMP anzubieten oder zu bewerben. PAMP behält sich
						vor, den Verkauf bestimmter Artikel an Voraussetzungen zu knüpfen, die über die
						gesetzlichen Vorschriften hinausgehen. Es gelten die Grundsätze zu unzulässigen
						Artikeln.</li>
					<li>Es ist verboten, durch Verwendung mehrerer PAMP-Konten oder im
						Zusammenwirken mit anderen Nutzern die Preise eigener oder fremder Angebote zu
						manipulieren oder eigene Artikel zu kaufen.</li>
					<li>Es ist verboten, die Suchfunktionen der PAMP-Dienste zu manipulieren, z. B. indem
						Markennamen oder andere Suchbegriffe missbräuchlich in die Artikelbezeichnung
						oder Beschreibung eingefügt werden. Es gilt der Grundsatz zur Manipulation von
						Suchergebnissen.</li>
					<li>Verkäufer müssen die PAMP-Grundsätze zum Einstellen von Artikeln beachten, ihre
						Artikel in die passende Kategorie einstellen und mit Worten und Bildern richtig und
						vollständig beschreiben. Es müssen alle für die Kaufentscheidung wesentlichen
						Eigenschaften und Merkmale sowie Fehler, die den Wert der angebotenen Ware
						mindern, wahrheitsgemäß angegeben werden. Zudem muss über die Zahlungs- und
						Lieferungsbedingungen vollständig informiert werden.</li>
					<li>Die Artikelbeschreibung sowie die dabei verwendeten Bilder dürfen sich
						ausschließlich auf den angebotenen Artikel oder die angebotene Dienstleistung
						beziehen. Werbung für nicht bei PAMP angebotene Artikel ist unzulässig.</li>
					<li>Der Preis der jeweiligen Artikel versteht sich als Endpreis einschließlich eventuell
						anfallender Mehrwertsteuer und weiterer Preisbestandteile. Der Verkaufspreis umfasst
						nicht die Liefer- und Versandkosten.</li>
					<li>Verkäufern ist es nicht erlaubt, zusätzlich zum Verkaufspreis PayPal-Gebühren oder
						Provisionen von Käufern einzufordern.</li>
					<li>Nutzer dürfen Adressen, E-Mail-Adressen und sonstige Kontaktdaten, die sie durch
						die Nutzung der PAMP-Dienste erhalten haben, für keine anderen Zwecke nutzen, als
						für die vertragliche und vorvertragliche Kommunikation. Insbesondere ist es verboten,
						diese Daten weiterzuverkaufen oder sie für die Zusendung von Werbung zu nutzen, es
						sei denn, der jeweilige Nutzer hat diesem nach Maßgabe der geltenden gesetzlichen
						Bestimmungen, ausdrücklich vorher zugestimmt bzw. nicht widersprochen.</li>
					<li>Nutzer dürfen keine von PAMP oder anderen Nutzern generierten Inhalte blockieren,
						überschreiben oder modifizieren oder in sonstiger Weise störend in die PAMP-Dienste
						eingreifen, insbesondere wenn hierdurch eine übermäßige Belastung der PAMP-
						Infrastruktur herbeigeführt werden könnte.</li>
				</ol>
				<h4>§4 Sanktionen, Sperrung und Kündigung</h4>
				<ol>
					<li>PAMP kann folgende Maßnahmen ergreifen, wenn konkrete Anhaltspunkte dafür
						bestehen, dass ein Nutzer gesetzliche Vorschriften, Rechte Dritter, die PAMP-AGB
						oder die PAMP-Grundsätze verletzt oder wenn PAMP ein sonstiges berechtigtes
						Interesse hat, insbesondere zum Schutz der Nutzer vor betrügerischen Aktivitäten:
						<ul>
							<li>Löschen von Artikeln oder Dienstleistungen</li>
							<li>Verwarnung von Nutzern</li>
							<li>Verzögerung der Veröffentlichung von Artikeln und sonstigen Inhalten</li>
							<li>Einschränkung der Nutzung der PAMP-Dienste</li>
							<li>Vorläufige Sperrung</li>
							<li>Endgültige Sperrung</li>
						</ul>
						Bei der Wahl einer Maßnahme berücksichtigt PAMP die berechtigten
						Interessen des betroffenen Nutzers, insbesondere ob Anhaltspunkte dafür
						vorliegen, dass der Nutzer den Verstoß nicht verschuldet hat.</li>
					<li>PAMP kann einen Nutzer endgültig von der Nutzung der PAMP-Dienste ausschließen
						(endgültige Sperrung), wenn
						<ul>
							<li>er wiederholt negative Bewertungen oder niedrige detaillierte
								Verkäuferbewertungen erhalten hat und die Sperrung zur Wahrung der
								Interessen der anderen Nutzer geboten ist</li>
							<li>er falsche Kontaktdaten angegeben hat</li>
							<li>er sein PAMP-Konto überträgt oder Dritten hierzu Zugang gewährt</li>
							<li>er andere Nutzer oder PAMP in erheblichem Maße schädigt</li>
							<li>er wiederholt gegen diese PAMP-AGB oder die PAMP-Grundsätze verstößt.
								ein anderer wichtiger Grund vorliegt
								Nachdem ein Nutzer endgültig gesperrt wurde, besteht kein Anspruch auf
								Wiederherstellung des gesperrten PAMP-Kontos.</li>
						</ul>
					</li>
					<li>Nutzer können diesen Nutzungsvertrag jederzeit kündigen.</li>
					<li>PAMP kann den Nutzungsvertrag jederzeit mit einer Frist von 14 Tagen zum
						Monatsende kündigen. Das Recht zur Sperrung bleibt hiervon unberührt.</li>
				</ol>
				<h4>§5 Haftungsbeschränkung</h4>
				<ol>
					<li>PAMP haftet nach den gesetzlichen Vorschriften für Vorsatz und grobe Fahrlässigkeit
						von PAMP, ihren gesetzlichen Vertretern, leitenden Angestellten oder sonstigen
						Erfüllungsgehilfen. Gleiches gilt bei der Übernahme von Garantien oder einer
						sonstigen verschuldensunabhängigen Haftung sowie bei Ansprüchen nach dem
						Produkthaftungsgesetz oder bei einer schuldhaften Verletzung des Lebens, des
						Körpers oder der Gesundheit. PAMP haftet dem Grunde nach für durch PAMP, ihre
						Vertreter, leitenden Angestellten und einfachen Erfüllungsgehilfen verursachte einfach
						fahrlässige Verletzungen wesentlicher Vertragspflichten, also solcher Pflichten, auf
						deren Erfüllung der Nutzer zur ordnungsgemäßen Durchführung des Vertrages
						regelmäßig vertraut und vertrauen darf, in diesem Fall aber der Höhe nach begrenzt
						auf den typischerweise entstehenden, vorhersehbaren Schaden.</li>
					<li>Eine weitere Haftung von PAMP ist ausgeschlossen.</li>
					<li>Soweit die Haftung von PAMP ausgeschlossen oder beschränkt ist, gilt dies auch
						zugunsten der persönlichen Haftung ihrer gesetzlichen Vertreter, leitenden
						Angestellten und einfachen Erfüllungsgehilfen.</li>
				</ol>
				<h4>§6 Freistellung</h4>
				<p>Der Nutzer stellt PAMP von sämtlichen Ansprüchen frei, die andere Nutzer oder sonstige
					Dritte gegenüber PAMP geltend machen wegen Verletzung ihrer Rechte durch von dem
					Nutzer mittels der PAMP-Dienste eingestellte Angebote und sonstige Inhalte oder wegen
					dessen sonstiger Nutzung der eBay-Dienste. Der Nutzer übernimmt hierbei die Kosten der
					notwendigen Rechtsverteidigung von PAMP einschließlich sämtlicher Gerichts- und
					Anwaltskosten in gesetzlicher Höhe. Dies gilt nicht, wenn die Rechtsverletzung von dem
					Nutzer nicht zu vertreten ist. Der Nutzer ist verpflichtet, PAMP für den Fall einer
					Inanspruchnahme durch Dritte unverzüglich, wahrheitsgemäß und vollständig alle
					Informationen zur Verfügung zu stellen, die für die Prüfung der Ansprüche und eine
					Verteidigung erforderlich sind.</p>
				<h4>§7 Schlussbestimmungen</h4>
				<ol>
					<li>PAMP kann dem Nutzer jederzeit eine Änderung dieser PAMP-AGB vorschlagen.
						Änderungen dieser PAMP-AGB werden dem Nutzer spätestens 30 Tage vor dem
						vorgeschlagenen Zeitpunkt ihres Wirksamwerdens in Textform (z. B. per E-Mail)
						angeboten. Die Zustimmung durch den Nutzer gilt als erteilt, wenn die Ablehnung
						nicht vor dem vorgeschlagenen Zeitpunkt des Wirksamwerdens der Änderungen
						gegenüber PAMP in Textform angezeigt wird. Wenn der Nutzer mit den Änderungen
						nicht einverstanden ist, steht ihm bis zu dem vorgeschlagenen Zeitpunkt des
						Wirksamwerdens der Änderungen ein fristloses und kostenfreies Kündigungsrecht zu.
						PAMP weist den Nutzer in der Nachricht, mit der die Änderungen angeboten werden,
						auch noch einmal besonders auf das Ablehnungsrecht, die Frist dafür und die
						Möglichkeit zur Kündigung hin. Die geänderten PAMP-AGB werden zusätzlich auf
						der PAMP-Website veröffentlicht.</li>
					<li>Sollten einzelne Bestimmungen dieser PAMP-AGB ganz oder teilweise nichtig oder
						unwirksam sein oder werden, so wird dadurch die Wirksamkeit der übrigen
						Bestimmungen nicht berührt. An die Stelle von nicht einbezogenen oder unwirksamen
						Bestimmungen dieser PAMP-AGB tritt das Gesetzesrecht. Sofern solches
						Gesetzesrecht im jeweiligen Fall nicht zur Verfügung steht (Regelungslücke) oder zu
						einem untragbaren Ergebnis führen würde, werden die Parteien in Verhandlungen
						darüber eintreten, anstelle der nicht einbezogenen oder unwirksamen Bestimmung
						eine wirksame Regelung zu treffen, die ihr wirtschaftlich möglichst nahekommt.</li>
					<li>Sämtliche Erklärungen, die im Rahmen des mit PAMP abgeschlossenen
						Nutzungsvertrags übermittelt werden, müssen in Schriftform oder Textform (z. B. per
						E-Mail) erfolgen.</li>
					<li>Der Nutzungsvertrag einschließlich dieser PAMP-AGB unterliegt deutschem Recht.
						Die Anwendung des UN-Kaufrechts ist ausgeschlossen. Für Verbraucher mit
						Wohnsitz in der EU finden zusätzlich die zwingenden Bestimmungen des
						Verbraucherschutzrechts des Mitgliedstaates Anwendung, in dem Sie Ihren Wohnsitz
						haben.</li>
					<li>PAMP ist weder bereit noch verpflichtet, an Streitbeilegungsverfahren vor einer
						Verbraucherschlichtungsstelle teilzunehmen.</li>
				</ol>
				<p>Haben Sie Fragen zu unseren Allgemeinen Geschäftsbedingungen? Dann setzen Sie sich mit
					uns in Verbindung.</p>
			</div>
		</div>




	</div>

	<!-- Fußzeile -->
	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>