<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
	xmlns:core="http://www.w3.org/1999/XSL/Transform">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
	integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
	crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
	integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	crossorigin="anonymous"></script>

<meta charset="UTF-8">
<title>Login</title>
</head>
<body>

	<div th:replace="fragments/header :: header"></div>

	<div class="container">
		<div class="jumbotron">
			<div class="alert alert-danger" th:if="${param.error}">

				<h3>
					Email oder Passwort ungültig <br> Haben Sie ihren Account bereits aktiviert?
				</h3>
				<div class="row">
					<form>
						<button type="button" data-toggle="modal" data-target="#resetModal"
							class="btn btn-primary ml-3 mr-3">Passwort zurücksetzen</button>
					</form>
					<form>
						<button type="button" data-toggle="modal" data-target="#resendModal" class="btn btn-primary">Registrieungslink
							erneut senden</button>
					</form>
				</div>
			</div>

			<div class="alert alert-info" th:if="${success}">
				<p class="text text-center">Neuer Link versendet.</p>
			</div>

			<div class="alert alert-success" th:if="${activate}">
				<p class="text text-center">Bitte bestätigen sie ihre Email-Adresse über den versandten Link!</p>
			</div>

			<div class="alert alert-info" th:if="${sendsuccess}">
				<p class="text text-center">Link zum Zurücksetzen des Passworts versendet.</p>
			</div>

			<div class="alert alert-danger" th:if="${failure}">
				<p class="text text-center">Etwas ist schief gelaufen. Bitte versuchen Sie es erneut.</p>
				<div class="row" align="center">
					<form>
						<button type="button" data-toggle="modal" data-target="#resetModal"
							class="btn btn-primary ml-3 mr-3">Passwort zurücksetzen</button>
					</form>
					<form>
						<button type="button" data-toggle="modal" data-target="#resendModal" class="btn btn-primary">Registrieungslink
							erneut senden</button>
					</form>
				</div>
			</div>

			<div class="alert alert-danger" th:if="${empty}">
				<p class="text text-center">Eingabe darf nicht leer sein.</p>
				<div class="row" align="center">
					<form>
						<button type="button" data-toggle="modal" data-target="#resetModal"
							class="btn btn-primary ml-3 mr-3">Passwort zurücksetzen</button>
					</form>
					<form>
						<button type="button" data-toggle="modal" data-target="#resendModal" class="btn btn-primary">Registrieungslink
							erneut senden</button>
					</form>
				</div>
			</div>

			<div class="alert alert-danger" th:if="${usernotpresent}">
				<p class="text text-center">Nutzer mit dieser Email-Adresse existiert nicht.</p>
				<div class="row" align="center">
					<form>
						<button type="button" data-toggle="modal" data-target="#resetModal"
							class="btn btn-primary ml-3 mr-3">Passwort zurücksetzen</button>
					</form>
					<form>
						<button type="button" data-toggle="modal" data-target="#resendModal" class="btn btn-primary">Registrieungslink
							erneut senden</button>
					</form>
				</div>
			</div>

			<form th:action="@{/login}" method="post">

				<div class="row ml-1 justify-content-center">
					<div class="form-group col-6">
						<label for="email" class="form-control-label">Email</label> <input type="text"
							class="form-control" id="email" name="username" />
					</div>
				</div>
				<div class="row ml-1 justify-content-center">
					<div class="form-group col-6">
						<label for="password" class="form-control-label">Passwort</label> <input type="password"
							class="form-control" id="password" name="password" />
					</div>
				</div>
				<div class="row ml-1 justify-content-center">
					<input type="submit" value="Login" class="btn btn-primary ml-2 col-3" />
				</div>
			</form>
		</div>

		<div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="resetModal"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="resetModalLabel">Passwort zurücksetzen</h5>
					</div>
					<form action="#" th:action="@{/reset}" method="post">
						<div class="modal-body">
							<div class="form-group">
								<label for="resetEingabe" class="col-form-label">Email: </label> <input type="text"
									class="form-control" name="reset_email" id="resetEingabe">
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
							<button type="submit" th:href="@{/reset}" class="btn btn-primary">Senden</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="modal fade" id="resendModal" tabindex="-1" role="dialog" aria-labelledby="resendModal"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="resendModalLabel">Registrierungslink erneut senden</h5>
					</div>
					<form action="#" th:action="@{/resend}" method="post">
						<div class="modal-body">
							<div class="form-group">
								<label for="resendEingabe" class="col-form-label">Email:</label> <input type="text"
									class="form-control" name="resend_email" id="resendEingabe">
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
							<button type="submit" th:href="@{/resend}" class="btn btn-primary">Senden</button>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>



	<!-- Fußzeile -->
	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>